
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@600&display=swap');


.feature {
  max-width: 100%;
}

body {
background-color: rgba(255, 129, 0, 0.17);
color: white;
font-family: 'Andada Pro', serif;
}

h1 {
font-size: 80px
display: inline-block;
text-align: center;
}

h2 {
font-size: 40px
display: inline-block;
text-align: center;
}

.links {
display: inline-block;
}


.image {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
