<h1>New Mountain</h1>

<form action="<%= mountains_path %>" method="post">

    <label>
      Name:
      <input name="name" required>
    </label>

    <label>
    Location:
      <input name="location" name="location">
    </label>

    <label>
   Image:
   <input type="url" name="image">
   </label>

    <label>
      Height:
      <input type="height" name="height">
    </label>

    <label>
      Type:
      <input type_of="type_of" name="type">
    </label>

    <button>Create Mountain</button>

</form>
