
<h2>Add a new book</h2>

<form action="/books" method="post">
  <input type="text" name="title" placeholder="Title" autofocus required>
  <input type="text" name="author" placeholder="Author" required>
  <input type="url" name="cover" placeholder="Image URL">
  <input type="text" name="description" placeholder="Description">
  <button>Add book</button>
</form>
