<h2><%= @library.name %></h2>

<p><%= @library.location %></p>

<div class="controls">
  <a href="/libraries/<%= @library.id %>/delete">Delete</a>
    <a href="/libraries/<%= @library.id %>/edit">Edit</a>
</div>
