<h2>New Library</h2>

<form action="/libraries" method="post">
  <input type="text" name="name" placeholder="Library name">
  <input type="text" name="location" placeholder="Location">
  <!-- <input type="text" name="location" placeholder="Books available"> -->
  <button>Create Library</button>
</form>
