<h1>Add New Album</h1>

<form action='/albums' method="post">
  <label>
    Name:
    <input name="name" placeholder="Hot Fuss" required>
  </label><br>

  <label>
    Year:
    <input name="year" placeholder="2004">
  </label><br>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label><br>

  <label>
    Song:
    <input type="url" name="song" placeholder="http://...">
  </label><br><br>

  <button>Add album</button>

</form>
