<h1>New Character</h1>

<form action="/characters" method="post">
  <label>
    Name:
    <input name="name" placeholder="Monkey D Luffy" required>
  </label>

  <label>
    Ability:
    <input name="ability" placeholder="Gum-Gum Fruit">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create Character</button>
</form>
