<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>One Piece</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <a href="/">Home</a>
    ||
    <a href="/characters">All Characters in One Piece</a>
    ||
    <a href="/characters/new">New Character</a>
    <%= yield %>
  </body>
</html>
