<h1>Add New Game to the Market</h1>
<form action='/games' method='post'>
  <label>
    Name: 
    <input type="text" name="gameName" placeholder="Game Name" required>
  </label>
  <label>
    Description: 
    <input type="text" name="description" placeholder="A short description of your game" required>
  </label>
  <label>
    Rating:
    <input type="number" name="rating" placeholder="10" required>
  </label>
  <button>Push to Game Library</button>
</form>
