<h1>Welcome to SPR</h1>
<form action="/spr/results">
	<label for="spr">Choose your weapon!</label>
	<select id="choice" name="choice">
	  <option value="scissors">scissors</option>
	  <option value="paper">paper</option>
	  <option value="rock">rock</option>
	</select>
	<button>Submit</button>
</form>