
body {
  background-color: black;
  align-content: center;
}

.container {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
  min-height: 90vh;
}

h1 {
  color: white;
  justify-content: center;
  margin: 40vw 0 0 0;
}

a {
  color: lightblue;
  font-size: 25px;
  padding: 20px;
}
