<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/nrl.css">
  <title>NRL</title>
</head>
<body>

  <div class='container'>

    <nav>
      <a href='/'>Home |</a>
      <a href='/teams'>Teams |</a>
      <a href='/players'>Players |</a>
      <a href='/teams/new'>Add Team |</a>
      <a href='/players/new'>Add Player</a>
    </nav>

<%= yield %>

  </div>

</body>
</html>
