<h1>Add NRL Player</h1>

<form action='/players' method="post">
  <label>
    Name:
    <input name="name" placeholder="Luke Thompson" required>
  </label><br>

  <label>
    Team:
    <input name="team" placeholder="Bulldogs">
  </label><br>

  <label>
    D.O.B:
    <input type="text" name="dob" placeholder="27/04/1995">
  </label><br><br>

  <button>Add Player</button>

</form>
