<h2 class="answer">
  The number you chose is:
</h2>

<h2>
  <%= @chosen_num %>
</h2>

<h2 class="answer">
  The number was:
</h2>

<h2>
  <%= @randomnumber %>
</h2>

<a class="again" href="/secret">AGAIN!</a>
