
<h2>Welcome to Secret Number!</h2>

<h2>Guess the computer generated number</h2>

<p>Watch out, though... everytime you guess it wrong it will refresh the number!!</p>

<p>(Yes, we're evil!!)</p>

<p class="numbers">
  <a href="/secret/1">1</a>
  <a href="/secret/2">2</a>
  <a href="/secret/3">3</a>
  <a href="/secret/4">4</a>
  <a href="/secret/5">5</a>
  <a href="/secret/6">6</a>
  <a href="/secret/7">7</a>
  <a href="/secret/8">8</a>
  <a href="/secret/9">9</a>
  <a href="/secret/10">10</a>
</p>

<!-- <h4>
   And: <%= @playtime %>
</h4>
<h4>
   <%= @won %>
</h4>
<h4>
   <%= @lost %>
</h4> -->
