<h2>New style</h2>
 <!-- <%= 2+ 4 %> echoing tag -->
<!-- <% %>  non-echoing tag -->

<form action="/styles" method="post">
    <label>
    Name:
    <input name="name" placeholder="Style Name" required>
    </label>

    <button>Create</button>
</form>