
body {
	background-color: black;
}

#container {
  margin-top: 100px;
	text-align:center;
  font-family: "Tahoma", "Verdana", "Helvetica", "Arial", sans-serif;
}

.text {
	font-size: 55px;
	font-weight: bold;
	margin-top: 200px;
	margin-bottom: 10px;
	color: white;
}

a {
	color: #080;
	text-decoration: none;
}

.buttons {
	margin-top: 50px;
}

.btn-large {
	margin: 0 15px;
  font-size: 25px;
}
