<h2>Rock, Paper, Scissors</h2>

<form action="/rock/results">
  <label>
    Choose your weapon:
    <select name='player_choice'>
        <option>Rock</option>
        <option>Paper</option>
        <option>Scissors</option>
    </select>
  </label>
  <button>Submit</button>
</form>
