/* # Lab: Famous computer scientists fansite

## Research one (or more) of the following:
- Ada Lovelace
- Alan Turing
- John von Neumann
- Norbert Wiener
- Frances E. Allen
- Claude Shannon
- Grace Hopper
- H. Marshall Mcluhan
- Donald Knuth
- Richard M. Stallman
- Larry Wall
- Yukihiro Matsumoto
- Sophie Wilson
- Jenn Schiffer
- Margaret Hamilton

## Requirements
- At least 3 pages (example: biography, trivia, hometown)
- At least 1 Google Font
- Whatever HTML and CSS you desire
- Keep your code clean and DRY
- Start working with semantic elements: http://html5doctor.com/lets-talk-about-semantics/
- No Javascript! Even if you know how to use jQuery, see how far you can push this with pure HTML + CSS
- Don't worry about responsiveness -- desktop resolution is fine

## Your research should aim to reveal at least two things about each person:
- Why Joel admires them
- Something Joel doesn't already know about them

## Optional extras
- Experiment with http://fortawesome.github.io/Font-Awesome/
- Record and embed a short podcast or vlog about your favourite scientist
- Try embedding other media (YouTube or Vimeo video, Soundcloud)
- Try embedding a Google map (for their hometown and/or alma mater) */

/* * { border: 1px solid red; } */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Press+Start+2P&family=Source+Code+Pro&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  background-color: darkseagreen;
  height: 2000px;
}

.container {
  max-width: 960px; /* lazy responsive container */
  margin: 0 auto; /* center */
  background-color: lightgreen;
  padding: 2em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

header {
  max-height: 190px;
}

nav {
  margin: 0 auto;
  min-width: 100%;
  min-height: 50px;
  background-color: darkgreen;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;

}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: 50px;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav a.active {
  background-color: limegreen;
  color: white;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  background-color: darkgreen;
  color: #fff;
  font-size: 400%;
  padding: 0.5em;
  border-radius: 0.2em;
  -webkit-box-shadow: 10px 10px;
  box-shadow: 10px 10px;
}

.imgbox {
  margin: 0 auto;
  width: 32.2%;
  height: 300px;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  line-height: 300px;
  display: inline-block;
  overflow: hidden;
}

.imgbox img {
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}


iframe {
  margin: 0 auto;
  text-align: center;
  display: block;
}

footer {
  padding: 20px 0 0 0;
}
