<h1>ADD A NEW COUNTRY</h1>
<h3>Please fill the following form to add a new country to our list</h3>
<form action="/countries" method="post">

  <label >
    Name:
    <input type="text" name="name" placeholder="Name of Country" required>
  </label>

  <label >
    Population:
    <input type="INTEGER" name="population" placeholder="111111111" required>
  </label>

  <label >
    Official language:
    <input type="text" name="language" placeholder="English" required>
  </label>

  <label >
    Flag:
    <input type="url" name="flag" placeholder="http://" required>
  </label>

  <button>SUBMIT</button>


</form>
