@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

body {
  background: rgba(59, 0, 255, 0.25); /* #321 => #332211 */
  margin: 0;
  padding: 20px;
  font-family: 'Cairo', sans-serif;
}

/*  */
nav {
  text-align: left;

}

nav a {
  color: gold;
  font: 200%;
}
.heading {
  text-align: center;
}


h4 {
  text-align: left;
  padding-left: 10px;


}
h5 {
  font-style: italic;

}


.painting {
    display: inline-block;
    max-width: 50%;

  }

  .painting img{
    width: 70%;
    max-width: 500px;
    margin-left: auto;
    display: block;
  }

.tag {
  text-align: center;
}

.answers {
  display: inline-block;
  width: 45%;
  padding-top: 40px;
  vertical-align: top;
}

.answers ol {
  text-align: left;
}

.answers ol {
  visibility: hidden;
  filter: blur(4px);
}

.answers:hover ol {
  transition: 2s all;
  visibility: visible;
  color: yellow;
  filter: blur(0px);
}
