@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #FEC8D8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  background: #957DAD;
  padding: 1em;
  font-family: 'Rubik', sans-serif;
}


nav {
  text-align: right;
}

nav a {
 text-decoration: none;
 color: #FEC8D8 ;
 margin: 0 5px;
}

a:hover {
  color: #FFDFD3;
  font-size: 26px;
}

h1 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  background-color: #FFDFD3;
  font-size: 300%;
  padding: 0.5em;
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
  color : #D291BC;

}
main {
  position: relative;
}

img   {
width: 500px;
height: auto;
}

.naughty-margaret {
  display: block;
  width: 400px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

h3 {
  font-size: 12px;
  margin: 0px;
  font-style: italic;
}
.naughty {
  position: absolute;
  top: 410px;
  right: 0;
}
p {
  text-align: justify;
  line-height: 29px;
  letter-spacing: 0.5px;
  width: 517px;
  margin-top: -8px;
}

.fav-beers {
  background-color: #FFDFD3;
  width: 400px;
  position: absolute;
  top: 450px;
  right: 0;
  border-style: double;
 border-color: #FEC8D8;
 border-width: 7px;

}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  padding: 10px 25px;
  line-height: 27px;
  color: #A98FD3;
}


li{
  font-family: 'Bebas Neue', cursive;
  margin: 4px 0;
  font-size: 21px;
  letter-spacing: 1px;
  color: #7EC7B9;
}

li:hover {
  font-size: 45px;
}
