<h1>New Distillery Entry</h1>

<form action="/distilleries" method='post'>

  <label for="">
    Name:
    <input type="text" name='name' placeholder='Laphroaig' required>
  </label>

  <label for="">
    Location:
    <input type="text" name='location' placeholder='Islay, Scotland'>
  </label>

  <label for="">
    Logo:
    <input type="url" name='image' placeholder='http://...'>
  </label>

  <button>New Distillery</button>

</form>
