<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <title>Distilleries and Oak Juice</title>
</head>
<body>
  <nav>
    <a href="/whiskies">All Whiskies</a>
    <a href="/whiskies/new">New Whisky Entry</a>
    |
    <a href="/distilleries">All Distilleries</a>
    <a href="/distilleries/new">New Distillery Entry</a>
  </nav>

  <%= yield %>

</body>
</html>
