<h1>New Whisky Entry</h1>

<form action="/whiskies" method='post'>

  <label for="">
    Distillery:
    <input type="text" name='distillery' placeholder='Laphroaig' required>
  </label>

  <label for="">
    Name:
    <input type="text" name='name' placeholder='PX Cask' required>
  </label>

  <label for="">
    ABV%:
    <input type="number" name='abv' placeholder='48.0'>
  </label>

  <label for="">
    Image:
    <input type="url" name='image' placeholder='http://...'>
  </label>

  <button>New Whisky</button>

</form>
