<h1>Choose a game below</h1>

<ul>
  <li><a href="/games/magic8">Magic 8 Ball</a></li>
  <li><a href="/games/secret">Secret Number</a></li>
  <li><a href="/games/rock_paper_scissors">Rock Paper Scissors</a></li>
</ul>
