<form action="/games/magic8/result">
  <h1>Magic 8 Ball</h1>
    <label>
      Ask the mysterious Magic 8 Ball:
    </label>
    <textarea rows=3 name="question" placeholder="Question goes here" required></textarea>
    <button>Your Destiny</button>
</form>
