<h1>Rock Paper Scissors</h1>

<form>
    <label>
      Choose your weapon:
    </label>
    <div>
      <button type="submit" formaction="/games/rock_paper_scissors/Rock">Rock</button>
      <button type="submit" formaction="/games/rock_paper_scissors/Paper">Paper</button>
      <button type="submit" formaction="/games/rock_paper_scissors/Scissors">Scissors</button>
    </div>
</form>
