<h1>Secret Number</h1>

<form action="/games/secret/result">
    <label>
      Can you guess the secret number?
    </label>
    <div>
      <% (1..10).each do |n| %>
        <button name="number" value="<%= "#{ n }" %>"><%= "#{ n }" %></button>
      <% end %>
    </div>

</form>
