<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Important Albums</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="container">
			<nav>
				<a href="/">Home</a>
				<a href="/albums">All</a>
				<a href="/albums/new">New</a>
			</nav>
			<%= yield %>
	</div>
	</body>
</html>
