<h1>The Magic 8-Ball</h1>

<p>Enter your question for the Magic 8-Ball to answer</p>

<form action="/eightball/result">
  <label for="">
    What do you ask the Magic 8-Ball?
    <input type="text" name="question">

    <button>Ask away!</button>
  </label>
</form>
