<h2>Create a new Actor for our list</h2>
<form action="/actors" method="post">
   <label for="">
    Name: <input name="name" type="text" placeholder="Johny Dep" required>
    </label>

    <label for="">
    DOB: <input name="date_of_birth" type="text" placeholder="1991" required>
    </label>


    <label for="">
    Image: <input name="image" type="url" placeholder="http://.." required>
    </label>

    <button>Add</button>
</form>