<h2>Create a movie</h2>
<form action="/movies" method="post">
   <label for="">
    Name: <input name="name" type="text" placeholder="Blow" required>
    </label>

    <label for="">
    Year: <input name="year" type="text" placeholder="1991" required>
    </label>

    <label for="">
    Director: <input name="director" type="text" placeholder="Kiarostami" required>
    </label>

    <label for="">
    Image: <input name="image" type="url" placeholder="http://.." required>
    </label>

    <label for="">
    Trailer : <input name="trailer" type="url" placeholder="http://.." required>
    </label>

    <button>Creat Movie</button>
</form>