<h1>Add new food</h1>

<form action="/foods" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="spaghetti" required>
  </label>

  <label>
    Cuisine:
    <input type="text" name="cuisine" placeholder="italian">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create food</button>
</form>
