<h1>New Cat</h1>

<form action="/cats" method="post">

  <label>
    Breed:
    <input name="breed" type="text" placeholder="persian cat" required">
  </label>

  <label>
    Coat Pattern:
    <input name="coat_pattern" type="text" placeholder="evenly solid">
  </label>

  <label>
    Image URL:
    <input name="image" type="url" placeholder="http://...">
  </label>

  <button>Create Cat</button>

</form>
