<h1>New Information</h1>

<form action="/further_information" method="post">

  <label>
    Breed:
    <input name="breed" type="text" placeholder="persian cat" required">
  </label>

  <label>
    Origin:
    <input name="origin" type="text" placeholder="greece">
  </label>

  <label>
    Coat Length:
    <input name="coat_length" type="text" placeholder="short">
  </label>

  <button>Create New Entry</button>

</form>
