<h1>The Cat Catalogue</h1>

<img src="https://i1.wp.com/www.goodigcaptions.com/wp-content/uploads/2020/03/Cat-Instagram-Captions.jpg?resize=680%2C420&ssl=1" alt="image of a cat">

<p>Learn about different types of cats.</p>
