<h2>Secret Numbers</h2>

<form action="/secret/results">
  <label>
    Pick a number:
    <select name='lucky_number'>
      <% @numbers.each do |x| %>
        <option><%= x %></option>
      <% end %>
    </select>
  </label>
  <button>Submit</button>
</form>
