<h2>The results are in..</h2>

<%= image_tag Dir.new(Rails.root.to_s + "/app/assets/images/").to_a.select{|f|    f.downcase.match(/\.jpg|\.jpeg|\.png|\.gif/) }.sample %>

<p><%= @result %></p>

<p>The number was: <%= @winning_number %></p>

<p>You chose:<%= params[:lucky_number] %></p>
