<h1>New Album</h1>

<form action="/albums" method="post">
  <label>
    Name:
    <input name="name" placeholder="King Of Limbs" required>
  </label>

  <!-- <label>
  Artist:
    <input name="artist_id" placeholder="Radiohead" required>
  </label> -->

  <label>
  Year:
    <input name="year" placeholder="2007" required>
  </label>


  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

<!--
    <label>
      Streaming link:
      <input type="url" name="streaming link" placeholder="http://...">
    </label>
 -->

  <button>Add Artist</button>
</form>
