<h1>New Artist</h1>

<form action="/artists" method="post">
  <label>
    Name:
    <input name="name" placeholder="Queen" required>
  </label>

  <label>
    genre:
    <input name="genre" placeholder="Rock">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create artist</button>
</form>
