<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artists</title>
 <link rel="stylesheet" href="public/style.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

</head>
<body>
  <nav>
    <a href="/artists">All Artists</a>
    |
    <a href="/artists/new">New Artist</a>
    |
    <a href="/albums">All Albums</a>
    |
    <a href="/albums/new">New Albums</a>
  </nav>

  <%= yield %>
</body>
</html>
