<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>Melbourne Library</title>
  </head>
  <body>
    <div class="container">
    <h1>Welcome to Melbourne Library</h1>
    <h2>Search engine</h2>
    <nav>
      <a href="/">Home</a>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
