<h1> Add a new player </h1>

<form action="/players/add" method="post">
	<label>Name
		<input name="name" type="text" placeholder="Pele" required>
	</label>
	<label>Team ID
		<input name="teamId" type="text" placeholder="3" required>
	</label>
	<label>Goals
		<input name="goals" type="integer" placeholder="23" required>
	</label>
	<label>Assists
		<input name="assists" type="integer" placeholder="5" required>
	</label>
	<label>Best Goal
		<input name="bestGoal" type="url" placeholder="https://youtube.com....">
	</label>
	<br>
	<button>Add player</button>
</form>

