<h1> Add a new team </h1>

<form action="/" method="post">
	<label>id
		<input name="id" type="text" placeholder="3" required>
	</label>
	<label>Name
		<input name="name" type="text" placeholder="Chelsea" required>
	</label>
	<label>Manager
		<input name="manager" type="text" placeholder="Carlo Ancelotti" required>
	</label>
	<label>City
		<input name="city" type="text" placeholder="London" required>
	</label>
	<label>Logo
		<input name="logo" type="url" placeholder="http://....">
	</label>
	<button>Add team</button>
</form>

