<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>EPL Teams</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<nav>
	<a href="/">All Teams</a>
	<span> | </span>
	<a href="/players">All Players</a>
</nav>

<%= yield %>

</body>
</html>