
<h1>Rock Paper Scissors</h1>

<img src="/assets/rockpaperscissors.png" alt="an image of the game: rock paper scissors">

<form action="/games/rock_paper_scissors/:throw">
  <h2>Select your move</h2>
  <label>
    <select name="throw">
      <option value="1">rock</option>
      <option value="2">paper</option>
      <option value="3">scissors</option>
    </select>
  </label>
  <button>Submit Move</button>
</form>

<div class="flier">
  <iframe src="https://giphy.com/embed/3o7btWJVxQ9mCSqU1i" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/imoji-halloween-3o7btWJVxQ9mCSqU1i"></a></p>
</div>
