<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pair Programming Bot
        </title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/bot.css" >
    </head>
    
    <body>
      <div id='container'>
        <div class='row'>
          <div>
            <p class="linkright">
    
            <a href="http://pairprogrammingbot.com/selenium/TestRunner.html?test=/tests/TestSuite.html">[run tests]</a>)
    
            </p>
          </div>
        </div>
          <!-- dynamic content goes here -->
      <%= yield %>

      <!-- dynamic content end -->
    </div>
  </body>
</html>