<h1>Dare to ask me!!</h1>

<h1>Question</h1>

<form action="/magic/result">

  <div class="input"><label>
  <input type="text" name="ask" placeholder="Can i have pizza tonight" required>
  </label>
    </div>

  <div class="button">
  <button>Submit</button>
  </div>
</form>
