<h1>Add a new Climber to the list</h1>
<form action="/climbers" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="Name" required>
  </label>
  <label>
    Surname:
    <input type="text" name="surname" placeholder="Surname" required>
  </label>
  <label>
    Nationality:
    <input type="text" name="nationality" placeholder="Italian" required>
  </label>
  <button>ADD</button>
</form>
