<h1>What Is Your Dream Guitar?</h1>

<form action="/guitars" method ="post">

<label>
 Brand:
 <input name="brand" placeholder ="Fender" required>
 </label>

 <label>
   Model:
   <input name= "model" placeholder = "Jazzmaster">
   </label>

<label>
  Year:
  <input name="year" placeholder = "1976">
</label>

<label>
  Image:
  <input type= "url" name="image" placeholder="http://...">

  <button>Add To Wishlist</button>
  </form>



















</form>
