<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>guitars</title>
</head>
<body>

  <nav>
    <a href="/guitars">All Guitars</a>
    <a href="/guitars/new">New Guitar</a>
  </nav>

  <%= yield %>
</body>
</html>
