
<h2>Welcome to Rock Paper Scissors, Peeps!!</h2>

<h3>Choose either Rock, Paper, or...</h3>

<p>Oh come on!! You know exactly how to play...</p>
<p>Have Fun!! :)</p>

<a class="rps_selectors" href="rps/rock">Rock</a>
<br>
<a class="rps_selectors" href="rps/paper">Paper</a>
<br>
<a class="rps_selectors" href="rps/scissors">Scissors</a>
