<h1>Guess the secret number below!</h1>
<form action='/secretnumber/results/<%= params[:value] %>'>
	<label>
		<input type="text" name="number" placeholder="4">
	</label>
	<button>Submit</button>
</form>

<!-- 	<input type="button" name='1' value='1'>
	<input type="button" name='2' value='2'>
	<input type="button" name='3' value='3'>
	<input type="button" name='4' value='4'>
	<input type="button" name='5' value='5'>
	<input type="button" name='6' value='6'>
	<input type="button" name='7' value='7'>
	<input type="button" name='8' value='8'>
	<input type="button" name='9' value='9'>
	<input type="button" name='10' value='10'> -->