<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pokemon!</title>
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <h1>Find a Pokemon</h1>
    <form action='/pokemon'>
      <label>
        Who's that pokemon?
        <input name='name' placeholder='pikachu'>
      </label>
      <button>Submit</button>
  </body>
</html>
