* {
  margin: 0;
}

body {
  background: url("../images/bg_body.jpg") repeat;
  font-family: "Times New Roman", serif;
}

#header {
  margin-top: 20px;
  margin-bottom: 10px;
}

#wrapper {
  max-width: 80%;
}

#container {
  width: 50%;
  margin: 0 auto;
}

.nav {
  width: 100%;
  background-color: rgb(27, 27, 27);
}

.nav ul li a {
  width: 80%;
  list-style-type: none;
  display: inline-block;
  padding: 25px;
  color: white;
}

li {
  text-align: left;
  display: inline-block;
}

a:hover {
  color: peachpuff;
}

a:link {
  text-decoration: none;
}

/*----------------------------------------------------------------------------- 
=05 SOCIAL MEDIA  
-----------------------------------------------------------------------------*/

#socialMedia {
  float: right;
}

#socialMedia ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: blue;
  text-indent: -9999em;
}

#socialMedia ul li.linkedIn {
  background: url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
  background: url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
  background: url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
  background: url(../images/socialNav.png) -180px 64px;
}

#socialMedia ul li.linkedIn:hover {
  background: url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
  background: url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
  background: url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
  background: url(../images/socialNav.png) -180px 0px;
}

/*----------------------------------------------------------------------------- 
#######END SOCIAL MEDIA  
-----------------------------------------------------------------------------*/

#main-content {
}

.photobanner,
.imageshadow {
  display: block;
  max-width: 100%;
}

#blurb {
  padding: 10px;
  border-width: 1px;
  border-style: inset;
  margin-bottom: 30px;
}

.quotetext {
  display: block;
  margin-right: auto;
}

.quote {
  text-align: right;
  display: inline-block;
  margin-left: auto;
}

#home-boxes {
  display: flexbox;
}

.home-box1 {
  margin: 10px;
  border: 4px solid;
  border-color: rgb(221, 221, 221);
  float: left;
  width: 200px;
  padding: 1px;
}

.home-box2 {
  margin: 10px;
  border: 4px solid;
  border-color: rgb(221, 221, 221);
  float: left;
  width: 200px;
  padding: 1px;
}

.home-box3 {
  margin: 10px;
  border: 4px solid;
  border-color: rgb(221, 221, 221);
  float: left;
  width: 200px;
  padding: 1px;
}

.footer {
}

.box-footer {
}

.blogroll {
}

.box-footer {
}

.textwidget {
}

#copyright {
}

#companybottom {
}
