<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>The Book Stall</title>
</head>
<body>

  <div class="container">
  <h1>The Book Finder</h1>

  <%= yield %>

  </div>

</body>
</html>
