
<form action="<%= oceans_path %>" method="post">
  <label>
    Ocean Name:
    <br>
    <input type="text" name="name" required>
    </br>
  </label>

  <label>
    Country Name:
    <br>
    <input type="text" name="country">
    </br>
  </label>

  <label>
    Type of Water:
    <br>
    <input type="text" name="water">
    </br>
  </label>

  <label>
    Water Volume:
    <br>
    <input type="number" name="watervolume">
    </br>
  </label>

  <label>
    Temperature:
    <br>
    <input type="number" name="temperature">
    </br>
  </label>

  <label>
    Ocean Width:
    <br>
    <input type="number" name="maxwidth">
    </br>
  </label>

  <label>
    Ocean Depth:
    <br>
    <input type="number" name="maxdepth">
    </br>
  </label>

  <label>
    Ocean Image:
    <br>
    <input type="url" name="image">
    </br>
  </label>
<button>Insert</button>
</form>
