<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="public/css.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

  <title>Sunshine Coast</title>
</head>
<body>

  <nav>


<a href="/places">Places to go</a>
|
<a href="/places/new">New places to go</a>
|
<a href="/things">Things to do</a>
|
<a href="/things/new">New things to do</a>
  <div class="h-mediaCarouselMobile md:h-mediaCarouselDesktop aspect-ratio-24/9 relative overflow-hidden"><div class="VideoContainer aspect-ratio-16/9"><video preload="none" playsinline="" poster="https://images.ctfassets.net/iiu58j8xnirw/7j75LS1UaaQ2GKcm0l5z5B/bc9a5daad393582c4cb9af43ca84e677/noosabeachero.jpg?q=80&amp;fm=webp&amp;w=1080&amp;h=1024" autoplay="" muted="" loop="" class="Video object-cover absolute h-full w-full object-cover"><source src="https://videos.ctfassets.net/iiu58j8xnirw/8DVGKVxsU0m8lMpPwS94i/d53e3d47bb8212f7615a628fcab39428/eyJwYXRoIjoiZnJvbnRpZnlcL2FjY291bnRzXC9hMVwvMTk3MzU3XC9wcm9qZWN0c1wvMjg5ODE0XC9hc3NldHNcLzk0XC81MjUxMDY2XC8wZGRjNzIxZmZmMjk2YmUy" type="video/mp4"><track kind="captions"></video></div></div>
  </nav>



  <%= yield %>


</body>
</html>
