<h1>New Place</h1>

<form action="/places" method="post">
  <label>
Name:
<input type="text" name="name" placeholder="Noosa" required>


  </label>
  



<label>
Image:
<input type="url" name="image" placeholder="http://....">


</label>
<button>Create place</button>
</form>
