<h1>New activity</h1>

<form action="/things" method="post">
  <label>
Name:
<input type="text" name="name" placeholder="Activity" required>


  </label>




<label>
Image:
<input type="url" name="image" placeholder="http://....">


</label>
<button>Create new activity</button>
</form>
