<div id='container'>
 <div class='row'>
  <div>
    <p class="text">
      Do you have a test for that?
    </p>
  </div>
 </div>

 <div class='row'>
  <ul class="buttons">
    <li>
      <a class="done btn-large btn-primary" href="/pass">Done</a>
    </li>
  </ul>
 </div>
</div>
