<% if @user.nil?%>
    <a href="/"><b> Click HERE to LOGIN </b></a>
    <% end %>

    <div class="howtouse">

    <p>Use the Magic Eight Ball to find answers to your everyday questions or decide your own fate by creating your own custom answers to appear when you ask the Magic Eight Ball.</p>
    <ul>
    <li>Can&#39;t decide where to eat? then make a list of places to go and ask the Eight Ball to decide for you.<br></li>
    <li>Can&#39;t decide what movie to watch? then make a list of movies and ask the Eight Ball to decide for you.<br>
    What can the Eight Ball help decide for you?<br></li>
    </ul>

    <h1>Usage</h1>
    <p>If you dont already have an account sign up, otherwise login.</p>

    <h3>Traditional Eight Ball</h3>
    <ol>
    <li>Enter a question and &quot;SHAKE THE EIGHT BALL&quot; to get an answer from the Magic Eight Ball. </li>
    <p>NOTE: This page can be accessed at any screen by selecting the &quot;HOME&quot; link from the menu bar at the top.</p>
    </ol>

    <h3>Create a custom List</h3>
    <ol>
    <li>Use the &quot;CREATE&quot; link from the menu bar at the top.</li>
    <li>Filling out the form. </li>
    <li>You must include a NAME for your list and at least one ANSWER. </li>
    <li>List NAME and each ANSWER can be up to 25 characters long.</li>
    <li>You can have up to 20 ANSWERS (like the icosahedron in a Magic Eight Ball)</li>
    </ol>

    <h3>Update a custom List</h3>
    <ol>
    <li>Use the &quot;LISTS&quot; link from the menu bar at the top.</li>
    <li>Select the list you would like to UPDATE. </li>
    <p>NOTE: If no lists have been created you can create a new list by clicking &quot;Create a new list?&quot;</p>
    </ol>
    <h4>Filling out the form:</h4>
    <ol>
    <li>List name can remain the same or changed.</li>
    <li>Answers can remain the same, be changed, removed, or added to the current list. </li>
    <li>You must include a NAME for your list and at least one ANSWER. </li>
    <li>List NAME and each ANSWER can be up to 25 characters long.</li>
    <li>You can have up to 20 ANSWERS (like the icosahedron in a Magic Eight Ball)</li>
    <li>Select the &quot;Update&quot; button to save your changes</li>
    </ol>

    <h3>Delete a custom List</h3>
    <ol>
    <li>Use the &quot;LISTS&quot; link from the menu bar at the top.</li>
    <li>Select the list you would like to DELETE. </li>
    <p>NOTE: If no lists have been created you can create a new list by clicking &quot;Create a new list?&quot;</p>
    <li>Select the &quot;Delete&quot; button at the page</li>
    </ol>

    <h3>Using a Custom List</h3>
    <ol>
    <li>Enter a question </li>
    <li>Choose your answer list from the drop down menu that currently displays &quot;Magic Eight Ball&quot; </li>
    <li>Click the &quot;SHAKE THE EIGHT BALL&quot; button to get an answer from your selected custom list.</li>
    <p>NOTE: This page can be accessed at any screen by selecting the &quot;HOME&quot; link from the menu bar at the top.</p>
    </ol>

  </div>

<% if @user.nil?%>
  <a href="/"><b> Click HERE to LOGIN </b></a>
<% end %>
<br><br><br>
