<form action="/result">
    <label for="">
      Book Title:
      <input type="text" name="book_title" placeholder="Enter your title here">

    </label>

    <button> Check Book Details </button>

  </form>
