<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>
    Delicious Oak Juice
  </title>
</head>
<body>
  <div class="container">
  <nav>
    <a href="/whiskies">Home</a>
    <a href="/whiskies/new">New</a>
  </nav>

  <%= yield %>
  </div>
</body>
</html>
