<h1>Whisky Entry</h1>

<form action="/whiskies" method='post'>

  <label>
    Distillery:
    <input type="text" name='distillery' placeholder="Laphroaig" required>
  </label>

  <label>
    Name:
    <input type="text" name='name' placeholder="PX Cask" required>
  </label>

  <label>
    Location:
    <input type="text" name="location" placeholder="Islay, Scotland">
  </label>

  <label>
    ABV:
    <input type="number" name='abv' placeholder="48.0">
  </label>

  <label>
    Image:
    <input type="url" name='image' placeholder="https://...">
  </label>

  <button>Create Entry</button>
</form>
