<h1>New City</h1>
<form action="/cities" method="post">
    <label for="">
    name : <input name="name" type="text" placeholder="city's name" required>
    </label>
    <label for="">
    Location:
    <input name="country" type="text" placeholder="Write country" required>
    </label>
    <label for="">
    Image:
    <input name="image" type="url" placeholder="http://.." required>
    </label>
    <button>Creat new city</button>


</form>