<h1>Players</h1>

<form action="/players/new">
  <input type="submit" value="+ Add new player" />
</form>

<table>
  <tr>
    <th>Player</th>
    <th>Pos</th>
    <th>Club</th>
    <th>Average</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_to player.name, player_path(player.id) %></td>
      <td><%= player.position %></td>
      <td><%= player.club %></td>
      <td><%= player.average %></td>
    </tr>
  <% end %>
</table>
