<h1>New Player</h1>

<form action="<%= players_path %>" method="post">
  <label>
    Name:
    <input name="name" placeholder="Jack Steele" required>
  </label>

  <label>
    Position:
    <input name="position" placeholder="MID" required>
  </label>

  <label>
    Club:
    <input name="club" placeholder="STK" maxlength="3" required>
  </label>

  <label>
    Scores (as CSV):
    <input class="scores-input" name="scores" placeholder="78,109,125,121,115...">
  </label>

  <button>Add player</button>
</form>
