<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jeopardy!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>

  <div class="board">

    <div class="">

      <h2>Homophones</h2>

      <div>
        <a href="/clue/249/200">$200</a>
      </div>

      <div>
        <a href="/clue/249/400">$400</a>
      </div>

      <div>
        <a href="/clue/249/600">$600</a>
      </div>

      <div>
        <a href="/clue/249/800">$800</a>
      </div>

      <div>
        <a href="/clue/249/1000">$1000</a>
      </div>

    </div>

    <div class="">

      <h2>3 Letter Words</h2>

      <div>
        <a href="/clue/105/200">$200</a>
      </div>

      <div>
        <a href="/clue/105/400">$400</a>
      </div>

      <div>
        <a href="/clue/105/600">$600</a>
      </div>

      <div>
        <a href="/clue/105/800">$800</a>
      </div>

      <div>
        <a href="/clue/105/1000">$1000</a>
      </div>

    </div>


  </div>

</body>
