<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jeopardy!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>

  <img
    src="http://jservice.io/assets/trebek-503ecf6eafde622b2c3e2dfebb13cc30.png"
    alt="A cartoon likeness of Alex Trebek, sans eyes, ears, nose or mouth. The only facial feature is his moustache."
  >

  <a href="/game">Let's play Jeopardy!</a>

</body>
