<h2>Is this working too ?</h2>

<form action="/games/results">
  <label>
    Ask your question:
    <input name="question" placeholder="are you ok?" required>
  </label>
  <button>Submit</button>
</form>