<h1>Welcome to gamesville</h1>

<h2>Choose your game</h2>

<ul>
	<li><a href="/8ball">Play magic 8 ball</a></li>
	<li><a href="/secretnumber">Play Secret Number</a></li>
	<li><a href="/spr">Play scissors paper rock</a></li>
</ul>