<h1>New artist</h1>

<form action="/artists" method="post">
    <label>
        Name:
    </label>
    <input name="name" placeholder="A. Streeton" required>
    <label>
        Image:
    </label>
    <input type="url" name="image" placeholder="http://...">

    <button>Create artist</button>

</form>