<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landscape Impressionist Gallery Catalogue</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Actor&family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<nav class="top_nav">
  <a href="/">Home  </a>
  <a href="/works">All works</a>
  <a href="/works/new">Add work</a>
  <a href="/artists">All artists</a>
  <a href="/artists/new">New artist</a>
</nav>
  <body>
    <div class="container">
    <h1>Landscape Impressionist Gallery Catalogue</h1>

      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>