<h1>New work</h1>

<form action="/works" method="post">
    <label>
        Title:
    </label>
    <input name="title" placeholder="Near Heidleberg" required>
    <label>
        Artist:
    </label>
    <input name="artist" placeholder="A. Streeton">
        <label>
        Medium:
    </label>
    <input name="medium" placeholder="Oil on canvas">
    <label>
        URL:
    </label>
    <input type="url" name="image" placeholder="http://">

    <button>Create work</button>

</form>

