<h1>Add a new artist</h1>

<form action="/artists" method="post">
  <label>
    Name:
    <input name="name" required>
  </label>

  <label>
    Genres:
    <input name="genres">
  </label>

  <label>
    Image Url:
    <input type="url" name="image" placeholder="http://">
  </label>

  <button>Submit</button>
</form>
