<!DOCTYPE html>
<html lang="en">
<head>
  <title>Music</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    |
    <a href="/artists">All Artists</a>
    <a href="/artists/new">New Artist</a>
    |
    <a href="">All Songs</a>
    <a href="">New Song</a>
  </nav>

  <%= yield %>

</body>
</html>
