<h1>Create new user</h1>

<form action="/users" method="post">
  <label>
    First name:
    <input name="first_name" required>
  </label>

  <label>
    Last name:
    <input name="last_name" required>
  </label>

  <label>
    Email:
    <input name="email" required>
  </label>

  <label>
    Team:
    <input name="team_name">
  </label>

  <label>
    Image URL:
    <input type="url" name="image">
  </label>

  <button>Submit</button>

</form>
