
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');



body {
  margin: 0;
  font-family: 'Ephesis', cursive;
  page-break-after: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;

}
h1 {
text-align: center;
font-size: 70px;
padding: 1em;
}
h2 {
  font-size: 30px;
  padding: 0;
}
main {
  width: 70%;
  display: inline-block;

}
main img {
  margin: 0 auto;
  display: block;
  border-radius: 0.5em;

  box-shadow: 0px 5px 5px grey;

}

aside {
  width: 30 %;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0px 5px 0px grey;
  font-size: 20px;

}
aside ul {
  line-height: 40px;
  padding:20px;
  padding-bottom: 414px;

}
