@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');



body {
  margin: 0;
  font-family: 'Ephesis', cursive;
  background-color: white;
  font-size: 25px;
}

.container {
  max-width: 960px;
  margin:  auto;
  background-color: white;
  padding: 1em;
}
h1{
  text-align: center;
}
p {
  text-align: justify;
  margin: 60px;
  padding: 50px;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 20px 5px 5px grey;
  line-height: 50px;
}
