<h1>Games on Rails</h1>

<p>
  <a href="/magic">Play Magic 8 Ball</a>
</p>

<p>
  <a href="/secret">Play Secret Number</a>
</p>

<p>
  <a href="/rock_paper_scissors">Play Rock Paper Scissors</a>
</p>
