<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Wall Street</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
