<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Info</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="/css/book.css">
</head>
<nav>
  <a href="/">Home</a>
</nav>
<body>
  <h1>Book Info</h1>

    <div class="container">

      <!-- dynamic content goes here -->
      <%= yield %>

      <!-- dynamic content end -->
    </div>
  </body>
</html>