<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Calculator</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <h1>That's Numberwang!!!</h1>
    <!-- dynamic content goes here -->
    <%= yield %>
    <!-- dynamic content ends -->
  </body>
</html>
