<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="/css/computers.css">
    <title>Computer Shop</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/motherboards">Motherboards</a>
    <a href="/motherboards/create">Motherboards Input</a>
    <a href="/components">Components</a>
    <a href="/components/create">Components Input</a>
    <div class="container_main">
  <%= yield %>
  </div>
  </body>
</html>
