<p>Please make new input</p>

<form action="/motherboards" method="post">
  <label>
    <br>
    Motherboard Name:
    <input name="name" placeholder="asus/asrock" required>
    </br>
  </label>

  <label>
    <br>
      Motherboard Model:
      <input name="model" placeholder="GAMING Z590-PLUS" required>
    </br>
  </label>

  <label>
    <br>
    Motherboard Socket:
    <input name="socket" placeholder="LGA 1200" required>
    </br>
  </label>

  <label>
    <br>
    Motherboard Image:
    <input type="url" name="image" placeholder="https://" >
    </br>
  </label>

  <label>
    <br>
    Motherboard Video:
    <input type="url" name="video" placeholder="https://youtube.com" >
    </br>
  </label>
        <button>Submit</button>
</form>
