<h1>Welcome to Magic 8 Ball Game</h1>

<form action="/magic/results">
  <label>
    Input your question here:
    <input type="text" name="question" placeholder="Am I lucky?" required>
  </label>
  <button>Submit</button>
</form>
