<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <nav>
    <a href="/">Home</a>
    <a href="/agency/input">Put a new house</a>
  </nav>
  <body>
<%= yield %>
  </body>
</html>
