<p>Please make new input</p>

<form action="/components" method="post">
  <label>
    <br>
    CPU Model:
    <input type="text" name="cpu" placeholder="I7 3.0 Ghz" required>
    </br>
  </label>

  <label>
    <br>
    Graphis card:
    <input type="text" name="gpu" placeholder="Nvidia 9500GT" required>
    </br>
  </label>

  <label>
    <br>
    Ram memory:
    <input type="text" name="ram" placeholder="2GB DDR3" required>
    </br>
  </label>

  <label>
    <br>
    SSD Drive:
    <input type="text" name="ssd" placeholder="250gb Seagate" required>
    </br>
  </label>

  <label>
    <br>
    Hard Drive(hdd):
    <input type="text" name="hdd" placeholder="1TB Western digital" required>
    </br>
  </label>

  <label>
    <br>
    Power supply:
    <input type="text" name="powersupply" placeholder="650W" required>
    </br>
  </label>

  <label>
    <br>
    WIFI Included:
    <input type="text" name="wifi" placeholder="TP-LINK TL-WN881ND" required>
    </br>
  </label>

  <label>
    <br>
    Cooling type:
    <input type="text" name="cooler" placeholder="Water Coling" required>
    </br>
  </label>

  <label>
    <br>
    Blueray drive:
    <input type="text" name="blueray" placeholder="LG BluRay Writer" required>
    </br>
  </label>
  <button>Submit</button>
</form>
