<h1>New Desert</h1>
<form action="<%= desserts_path%>" method="post">
<label>
Name:
<input name="name" type="text" required>
</label>
<label>
Image:
<input name="image" type="url">
</label>
<label>
Country:
<input name="country" type="text">
</label>
<label>
Area:
<input name="area" type="number">
</label>
<label>
Discover:
<input name="discover" type="number">
</label>

<button>Create Desert</button>
</form>