<h1>New Song</h1>

<form action="/songs" method="post">
  <label>
    Name:
    <input name="name" placeholder="Moves Like Jagger" required>
  </label>

  <label>
    Link:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <label>
    Do you like it?
    <input type="checkbox" name="thumbs_up">
  </label>

  <label>
    Album:
    <input name="album" placeholder="Hands All Over">
  </label>

  <button>Create Song</button>
</form>
