<h1>New Lawyers</h1>

<form action="<%= lawyers_path %>" method="post">

  <label>
    Name:
    <input name="name" required>
  </label>

  <label>
    Firm:
    <input name="number" required>
  </label>

  <label>
    Image:
    <input type="url" name="image">
  </label

    <button>Add Lawyer</button>
</form>
