<% if @errors %>
    <p style="color: #E314FB;"><%= @errors %><p>
<% end %>

<form action="/create_account" method="POST">

    <input type="text" name="username" placeholder="Name" class="input_box" required>
    <br><br>
    <input type="email" name="email" placeholder="Email" class="input_box">
    <br><br>
    <input type="password" name="password" placeholder="Password" class="input_box">
    <br><br>
    <input type="submit" value="Create Account" class="button"><br>

    <br>
    <a href="/login"> Login </a>

    <p><img src="/images/EightBall.png" alt="Eight ball"></p>

</form>
