<% if @errors %>
    <p style="color: #E314FB;"><%= @errors %><p>
<% end %>

<form action="/login" method="POST">

    <input type="email" name="email" placeholder="Email" class="input_box">
    <br><br>
    <input type="password" name="password" placeholder="Password" class="input_box">
    <br><br>
    <input type="submit" value="Login" class="button">
    <br>

    <br>
    <a href="/create_account">Create an Account</a>

    <p><img src="/images/EightBall.png" alt="Eight ball"></p>

</form>
