@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  background-color: #293141;
  color: #A3BBD3;
  font-family: 'Noto Sans', sans-serif;
  margin: 2rem 4rem;
}

h1 {
  color: #FFFFFF;
}

a {
  color: #07CDB8;
  text-decoration: none;
}

label {
  display: flex;
  margin-bottom: 0.5rem;
}

input {
  background-color: #202635;
  border: none;
  border-radius: 0.2rem;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 1em;
}

::placeholder {
  color: #4E5A6E;
}

button {
  background-color: #07CDB8;
  border: none;
  border-radius: 0.2rem;
  color: #022047;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 1rem;
  padding: 1em;
  text-transform: uppercase;
}

table {
  margin: 1rem 0;
}

th, td {
  border: 2px solid #4E5A6E;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  text-align: left;
}
