<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Best Movies of All Time</title>
</head>
<body>
  <nav>
    <a href="/movies"> All Movies</a>
      <a href="/movies/new">New Movies</a>
  </nav>

  <%= yield %>

</body>
</html>
