<h1>New Butterfly</h1>

<form action="/movies" method="post">
  <label>
      Name:
      <input name="name" placeholder="Parasite" required value="<% @movies["name"]%>">
  </label>
  <label>
      Year:
      <input type="year" placeholder="20xx" required value="<% @movie["year"]%>">
  </label>
  <label>
      Image:
      <input type="url" placeholder="http://..." required value="<% @butterfly["img"]%>">
  </label>

  <button>Add movie</button>
</form>
