<h1>New Mountain</h1>

<form class="new-form" action="<%= mountains_path %>" method="post">

  <div class="form-container">
    <label>
      Name:
      <input name="name" required>
    </label>

    <label>
      Image:
      <input type="url" name="image">
    </label>

    <label>
      Elevation:
      <input type="number" name="elevation">
    </label>

    <label>
      Latitude:
      <input type="number" name="latitude">
    </label>

    <label>
      Longitude:
      <input type="number" name="longitude">
    </label>

    <label>
      Country:
      <input type="text" name="country">
    </label>

    <label>
      Continent:
      <input type="text" name="continent">
    </label>

    <label>
      First Ascent Year:
      <input type="number" name="first_ascent">
    </label>
  </div>

  <button>Create Mountain</button>
</form>
