<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>portraits</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Actor&family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<nav class="top_nav container"> 
  <a href="/">Home   </a>
  <a href="/portraits">All Portraits   </a>
  <a href="/portraits/new">Add Portrait</a>
</nav>
<body>
<div class="container">
  <h1>Modern Portraiture Catalogue</h1>

    <div class="container">
      <%= yield %>

    </div>
  </body>
</html>