<h1>New portrait</h1>

<form action="/portraits" method="post">
    <label>
        Title:
    </label>
    <input name="title" placeholder="Valentina">
    <label>
        Artist:
    </label>
    <input name="artist" placeholder="Santos">
    <label>
        Medium:
    </label>
    <input name="medium" placeholder="Charcoal on paper">
    <label>
        URL:
    </label>
    <input type="url" name="image" placeholder="http://....">

<button>New portrait</button>   
</form>