<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>Express Weather</title>
</head>

<body>
    <h2>Enter a city to lookup:</h2>
    <form action="/info">
        <label>City Name</label>
        <input type="search" name="city" placeholder="Sydney"></label>
        <button>Search</button>
    </form>
</body>

</html>