<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maroon 5's Albums and Songs</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/albums">All Albums</a>
      |
      <a href="/albums/new">New Album</a>
      |
      <a href="/songs">All Songs</a>
      |
      <a href="/songs/new">New Song</a>
    </nav>
    <%= yield %>
  </body>
</html>
