<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Books</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="container">
	<nav><a href='/'>home</a></nav>
 <%= yield %>
 	</div>
</body>
</html>