<h1>The Response</h1>

<a href="/eight-ball">Ask Again</a>

<p id='response'>The Eight-ball replies: "<%= @answer %>".</p>

<div class="flier">
  <iframe src="https://giphy.com/embed/3o7btWJVxQ9mCSqU1i" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/imoji-halloween-3o7btWJVxQ9mCSqU1i"></a></p>
</div>
