<h1>The Magic Eight-ball</h1>

<img src="/assets/eight_ball.png" alt="image of an eight-ball">

<form action="/eight-ball/answer">
  <h2>Ask your question:</h2>
  <label>
    <input type="text" name="question" placeholder=".....?" required>
  </label>
  <button>Answer</button>
</form>

<div class="flier">
  <iframe src="https://giphy.com/embed/3o7btWJVxQ9mCSqU1i" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/imoji-halloween-3o7btWJVxQ9mCSqU1i"></a></p>
</div>
