@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body{
  background-image: url('/assets/questition.jpeg');
}

.container{
  text-align: center;
  min-height: 950px;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 10px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 20%
}

a{
  text-decoration: none;
  font-size: 22px;
  padding-left: 10px;
}

a:hover{
  text-decoration: none;
  font-size: 24px;
  color:red;
}

p{
  color:gray;
  font-size: 40px;
}

.button{
  display: inline-block;
  margin-top: 20px;
  font-size: 22px;
}

button:hover{
  display: inline-block;
  font-size:25px;
  color: red;
}

.input{
  display: inline-block;
}

input{
  font-height:2em;
  font-size: 25px;
}

span{
  color:red;
}

h1{
  font-family: 'Architects Daughter', cursive;
  font-size: 60px;
  font-style: italic;
  color: gray;
}

.image{

  background-position: center;
  margin-right: 20px;
}
color{
  font-family: 'Festive', cursive;
}
