<h2>WELCOME TO MAGIC 8!!</h2>

  <img class="magic8" src="https://res.cloudinary.com/dtgwy9sug/image/upload/c_scale,w_250/Magic-8-Ball-B01ILCQDBI.png" alt="magic eight ball">

<br>

  <input type="text">

<br>

<a class="ask8" href="/magic8/answer">Ask Magic 8!</a>
<!-- <input type="submit" formaction="/magic8/answer" title="Ask Question"> -->
