<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Games</title>
  </head>
  <body>
    <nav>
      <a href="/games">All Games</a>
      <a href="/games/new">New Games</a>
      <a href="/game-studios">All Game Studios</a>
      <a href="/game-studios/new">New Game Studios</a>
    </nav>
    <%= yield %>
  </body>
</html>
