<h1>Magic Eight Ball</h1>

<form action="/games/magic_eight_ball/answer">
  <label>
    Question
    <input name="question" placeholder="Ask me a yes/no question..." required>
  </label>

  <button>Submit</button>
</form>
