<h1>New Duelist Form</h1>

<form action="/duelists" method="post">
  <label>
    Name:
    <input name="name" placeholder="e.g. Seto Kaiba" required>
  </label>

  <label>
    Age:
    <input name="age" placeholder="e.g. 21" required>
  </label>

  <label>
    Gender:
    <input name="gender" placeholder="e.g. M" required>
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Register Duelist</button>
</form>
