<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/weather">
      <label>
        Current Weather:
        <input type="text" name="city" placeholder="input the city name">
      </label>
      <button>Search</button>
    </form>

  </body>
</html>
