<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Today's weather in <%= city %>: <%= weather %></h1>
    <h1>Tempareture: <%= temp %>°C</h1>
    <h1>Humidity: <%= humidity %>%</h1>

  </body>
</html>
