<h1>Welcome to Magic eight ball</h1>
<form action="/8ball/results">
	<label>
		Enter your question here
		<input type='text' name='question' required>
	</label>
	<button>Shake it off!</button>
</form>