<p>Welcome to input forms</p>

<form action="/agency" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="owner name" required>
  </label>

  <label>
    Surname:
    <input type="text" name="surname" placeholder="owner surname" required>
  </label>

  <label>
    Adress:
    <input type="text" name="adress" placeholder="house adress" required>
  </label>

  <label>
    Photo:
    <input type="url" name="image" placeholder="https://kingdom.jpg">
  </label>
    <button>Submit form</button>
</form>
