<h1>Formula One Statistics</h1>

<img class="feature" src="https://logodownload.org/wp-content/uploads/2016/11/formula-1-logo-7.png" alt="">

<h3>Overview</h3>

<p>Formula One, also called F1 in short, is an international auto racing sport. F1 is the highest level of single-seat, open-wheel and open-cockpit professional motor racing contest.

Formula One racing is governed and sanctioned by a world body called the FIA − Fédération Internationale de l'Automobile or the International Automobile Federation. The name ‘Formula’ comes from the set of rules that the participating cars and drivers must follow.</p>
