<h1>New Driver</h1>

<form action="<%= index_path %>" method="post">

  <label>
    <input name="full_name" type="text" placeholder="Max Verstappen" required>
  </label>

  <label>
    <input name="image" type="text" placeholder="http://......" >
  </label>

  <label>
    <input name="team" type="text" placeholder="Red Bull" >
  </label>

  <label>
    <input name="points" type="float" placeholder="100" >
  </label>

  <button>Create Driver</button>
</form>
