<h1>Magic 8 ball!</h1>

<form action="/magic8ball/results">
  <label>
    What do you want to know!?
    <input name="question" placeholder="Mysterious wisdom unveilled!">
  </label>
  <button>Ask away</button>
</form>
