<h1>Welcome to Secret Number Game</h1>

<form action="/secret/results">
  <label>
    Select your guess number here:
    <select name="number">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </label>
  <button>Guess</button>
</form>
