<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Books Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <nav>
      <a href="/">Home</a>
    </nav>

    <h1>Books Search</h1>
    <%= yield %>

  </body>
</html>
