 <!-- <%= 2+ 4 %> echoing tag -->
<!-- <% %>  non-echoing tag -->

<p>My collection of tasty, painful liquids.</p>

<% @hotsauces.each do |hotsauce| %>
    <p><a href=/hotsauces/<%= hotsauce["id"] %>><%= hotsauce['name'] %></a></p> 
<% end %>