<h2>Add sauce</h2>
 <!-- <%= 2+ 4 %> echoing tag -->
<!-- <% %>  non-echoing tag -->

<form action="/hotsauces" method="post">
    <label>
    Name:
    <input name="name" placeholder="Sauce Name" required>
    </label>
    
    <label>
    Type:
    <input name="pepper" placeholder="Base Pepper">
    </label>

    <label>
    Heat level:
    <input name="spice_level" placeholder="Heat level 1-5">
    </label>


    <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Create</button>
</form>