<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">

    <title>Hot Sauce Inventory</title>
</head>

<body>

<nav>
    <a href="/hotsauces">All sauces</a>  · 
    <a href="/hotsauces/new">Add new sauce</a> · 
    <a href="/">Home</a>
</nav>

    <h1>Sarah's Hot Sauce Inventory 🔥</h1>
    <!---------------------Dynamic Content Starts------------------------>
    <%= yield %>
    <!---------------------Dynamic Content Ends-------------------------->

</body>

</html>