body{
  baackground-color: white;
  background-image: url(/img/books.jpg)
}

h1{
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  min-height: 90vh;
}
