<h1>Home page</h1>

<h3>Choose from the following games</h3>

<a href="/eight-ball">Eight-ball</a>
<br>
<a href="/secret-number">Secret Number</a>
<br>
<a href="/games/rock_paper_scissors">Rock Paper Scissors</a>

<div class="flier">
  <iframe src="https://giphy.com/embed/3o7btWJVxQ9mCSqU1i" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/imoji-halloween-3o7btWJVxQ9mCSqU1i"></a></p>
</div>
